#app2 {
    display: flex;
    flex-direction: column;
}

#app2 > .tabs {
    display: flex;
}

#app2 .tabs > li {
    flex: 1;
}

#app2 .tabs > li.selected {
    background-color: #d9b764;
}

#app2 .contents > li {
    display: none;
}

#app2 .contents > li.active {
    display: block;
}
